body {
    margin: 0;
    padding: 30px;
    background-color: #f1d8d8;
    font-family: Arial, sans-serif;
    color: #333333;
}

.encabezado {
    display: flex;
    align-items: center;
    gap: 40px;

    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;

    padding: 20px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /*Esto es para redondear la imagen */
    border-radius: 50%;
}

.contacto {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

.datos-personales {
    flex: 1;
    text-align: center;
}

/* Estilos para las lineas de las secciones */
section h2 {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 10px 0;
}